@page "/configure"

<MudAppBar Fixed="false">
    <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@NavigateToMainPage" Color="Color.Inherit">Terug</MudButton>
    <MudSpacer />
    <MudButton StartIcon="@Icons.Material.Filled.PostAdd" OnClick="@AddNewShift" Color="Color.Inherit">Nieuw</MudButton>
</MudAppBar>

<div class="configure-grid">
    @foreach (var shift in ShiftList)
    {
        <ShiftTemplate ShiftSelected="@OpenShiftUpdateDialog" Shift="shift" OnShiftDelete="@ConfirmShiftDelete"></ShiftTemplate>
    }
</div>

<MudDialogProvider CloseButton="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />