@page "/"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations


<PageTitle>Index</PageTitle>

<div class="calendar-page">
    <div class="calendar-column">
        <SfSchedule TValue="AppointmentData" Readonly="true" Width="100%" Height="100%">
            @*<ScheduleEvents TValue="ScheduleData.AppointmentData" EventRendered="OnEventRendered"></ScheduleEvents>*@
            <ScheduleViews>
                <ScheduleView MaxEventsPerRow="1" Option="View.Month"></ScheduleView>
            </ScheduleViews>
            @*<ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>*@
        </SfSchedule>
    </div>

    @if (ShiftList != null)
    {
        <div class="treeview-column">
            <SfTreeView TValue="ShiftDefinition" @ref="TreeViewRef" AllowDragAndDrop="true" CssClass="treeview-external-drag" DropArea=".content-wrapper">
                @*<TreeViewEvents TValue="AppointmentData" OnNodeDragStop="OnTreeViewDragStop"></TreeViewEvents>*@
                <TreeViewFieldsSettings DataSource="@ShiftList" Id="ShiftName" Text="ShiftName"></TreeViewFieldsSettings>
                <TreeViewTemplates TValue="ShiftDefinition">
                    <NodeTemplate>
                        <div>@context.ShiftName (@context.StartTime - @context.EndTime)</div>
                    </NodeTemplate>
                </TreeViewTemplates>
            </SfTreeView>
        </div>
     }
</div>