@page "/"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations


<PageTitle>Index</PageTitle>

<div class="calendar-page">
    <div class="calendar-column">
        <SfSchedule @ref="ScheduleRef" TValue="CalendarEvent" Readonly="true" Width="100%" Height="100%">
            @*<ScheduleEvent s TValue="ScheduleData.AppointmentData" EventRendered="OnEventRendered"></ScheduleEvents>*@
            <ScheduleViews>
                <ScheduleView MaxEventsPerRow="1" Option="View.Month">
                    <EventTemplate>
                        <ScheduleEvent Event="@(context as CalendarEvent)" />
                    </EventTemplate>
                </ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings DataSource="@CalendarEventList">
                <ScheduleField Id="Id">
                    <FieldSubject Name="ShiftName"></FieldSubject>
                    <FieldIsAllDay Name="FullDay"></FieldIsAllDay>
                    <FieldStartTime Name="StartTime"></FieldStartTime>
                    <FieldEndTime Name="EndTime"></FieldEndTime>
                </ScheduleField>
            </ScheduleEventSettings>
            <ScheduleTemplates>
                <CellTemplate>
                    <ScheduleCell Context="@context" ShiftDropped="HandleShiftDropped" />
                </CellTemplate>
            </ScheduleTemplates>
        </SfSchedule>
    </div>

    @if (ShiftList != null)
    {
        <div class="treeview-column">
            <SfTreeView TValue="ShiftDefinition">
                <TreeViewFieldsSettings DataSource="@ShiftList" Id="ShiftName" Text="ShiftName"></TreeViewFieldsSettings>
                <TreeViewTemplates TValue="ShiftDefinition">
                    <NodeTemplate>
                        <div draggable="true" @ondragstart="() => HandleDragStart(context)">
                            <div>@context.ShiftName (@context.StartTime - @context.EndTime)</div>
                        </div>
                    </NodeTemplate>
                </TreeViewTemplates>
            </SfTreeView>
        </div>
     }
</div>